*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

.myprod{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding:0rem 12rem 3rem 0rem;
}


@media (min-width: 380px) {
   .myprodcard h5{
        margin-left: -30px;
    }
    h4{
        padding-left: 6rem;
    }
    .myprodcard{
        min-width: 12rem;
        margin-left: 45px;
    }
    .responsiveButtons{
        margin-left: 7px;
        margin-top: 0.5rem;
    }
    .responsiveButtons1{
        margin-top: 0.5rem;

    }
  }
  @media (min-width: 550px) {
    h4{
        padding-left: 6rem;
    }
    .myprodcard{
        min-width: 25rem;
        /* margin-left: 85px; */
    }
    .responsiveButtons{
        margin-left: 7px;
        margin-right: 10px;
    }
    .responsiveButtons1{
        margin-left: 2px;
        float: left;
    }
  }
  @media (min-width: 650px) {
    h4{
        padding-left: 9rem;
    }
    .myprodcard{
       margin-left: 80px;
       width: 30rem;
     
    }
  }
@media (min-width: 850px) {
    h4{
        padding-left: 9rem;
    }
    .myprodcard{
        min-height: 14rem;
        min-width: 40rem;
    }
  }
  @media (min-width:1024px) {
    .myprodcard{
        min-height: 14rem;
        min-width: 50rem;
    }
    h4{
        padding-left: 12rem;
    }
  }
  @media screen and (min-width:1300px) {
    .myprodcard{
        min-height: 14rem;
        min-width: 60rem;
    }
    h4{
        padding-left: 14rem;
    }
  }

.myprodcard{
padding: 1rem 1.1rem;
border-radius: 2rem;
box-shadow: 8px 10px 8px rgba(0,0,0,0.4);
border-color: black;
opacity: 0.8;
color: black;
transition: 0.17s;
}
.myprodcard:hover{
    transform: scale(1.04);
}
.myprodcard h5{
    padding: 1.6rem 1rem 0rem 2rem;
}
.myprodcard h4{
    padding-top: 1rem;
}
.myprodcard p{
    line-height: 150%;
    font-size: medium;
}
